minimal_context: true

inference_pipeline:
  - type: LoadImageFromFile
  - type: HmCrop
    keys: [img]
    save_clipped_images: true
  - type: HmImageToTensor
    keys: [img]
  - type: IceRinkSegmConfig
    image_label: img
  - type: HmResize
    img_scale: [1312, 480]
    keep_ratio: true
  - type: HmPad
    pad_val: 114.0
    size_divisor: 32
  - type: mmdet.PackTrackInputs
    meta_keys: [img_metas, rink_profile]

trunks:
  image_prep:
    class: hmlib.aspen.trunks.image_prep.ImagePrepTrunk
    depends: []
    params: {}

  model_factory:
    class: hmlib.aspen.trunks.model_factory.ModelFactoryTrunk
    depends: []
    params:
      model_class: hmlib.models.end_to_end.HmEndToEnd
      post_detection_pipeline:
        - type: IceRinkSegmBoundaries
      post_tracking_pipeline: []

  boundaries:
    class: hmlib.aspen.trunks.boundaries.BoundariesTrunk
    depends: [model_factory]
    params: {}

  init_send:
    class: hmlib.aspen.trunks.pose_to_det.InitDataToSendTrunk
    depends: [image_prep]
    params: {}

  pose_factory:
    class: hmlib.aspen.trunks.pose_factory.PoseInferencerFactoryTrunk
    depends: []
    params:
      pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/coco/rtmpose-l_8xb256-420e_aic-coco-384x288.py
      pose_checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-aic-coco_pt-aic-coco_420e-384x288-97d6cb0f_20230228.pth
      show_progress: false

  pose:
    class: hmlib.aspen.trunks.pose.PoseTrunk
    depends: [init_send, pose_factory]
    params: {}

  pose_to_det:
    class: hmlib.aspen.trunks.pose_to_det.PoseToDetTrunk
    depends: [pose]
    params: {}

  tracker:
    class: hmlib.aspen.trunks.tracker.TrackerTrunk
    depends: [pose_to_det, model_factory, boundaries]
    params: {}

  action_factory:
    class: hmlib.aspen.trunks.action_factory.ActionRecognizerFactoryTrunk
    depends: []
    params:
      action_config: openmm/mmaction2/configs/skeleton/posec3d/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint.py
      action_checkpoint: https://download.openmmlab.com/mmaction/v1.0/skeleton/posec3d/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint_20220815-38db104b.pth

  actions:
    class: hmlib.aspen.trunks.action_pose.ActionFromPoseTrunk
    depends: [tracker, action_factory]
    params:
      top_k: 3
      score_threshold: 0.0

  save_detections:
    class: hmlib.aspen.trunks.save.SaveDetectionsTrunk
    depends: [pose_to_det]
    params: {}

  save_pose:
    class: hmlib.aspen.trunks.save.SavePoseTrunk
    depends: [pose]
    params: {}

  save_tracking:
    class: hmlib.aspen.trunks.save.SaveTrackingTrunk
    depends: [actions]
    params: {}
