aspen:
  minimal_context: true

  # Move the original mmengine inference pipeline here so the CLI can use it
  inference_pipeline:
    - type: LoadImageFromFile
    - type: HmCrop
      keys: [img]
    - type: HmImageToTensor
      keys: [img]
      # scale_factor: 255.0
    - type: HmResize
      img_scale: [1312, 480]
      keep_ratio: true
      interpolation: area
    - type: HmPad
      pad_val: 114.0
      size_divisor: 32
    - type: mmdet.PackTrackInputs
      meta_keys: [img_metas, hm_real_time_fps]
    - type: HmRealTime
      enabled: false
      scale: 1.0

  # Default camera post-processing pipeline (was in hm_end_to_end.py)
  # Default camera post-processing pipeline (was in hm_end_to_end.py)
  video_out_pipeline:
    - type: HmImageColorAdjust
      # Runtime-tunable via camera UI (PlayTracker) or CLI
      # Defaults to no-op; UI writes values under rink.camera.color
      # white_balance: GLOBAL.rink.camera.color.white_balance
      # brightness: GLOBAL.rink.camera.color.brightness
      # contrast: GLOBAL.rink.camera.color.contrast
      # gamma: GLOBAL.rink.camera.color.gamma
    - type: HmUnsharpMask
      enabled: false
      image_label: img
    - type: HmConfigureScoreboard
    - type: HmCaptureScoreboard
    - type: HmPerspectiveRotation
      pre_clip: true
    - type: HmCropToVideoFrame
    - type: HmRenderScoreboard
      image_labels: [img, end_zone_img]
    - type: HmImageOverlays
      watermark_config:
        image: images/sports_ai_watermark.png
    - type: HmMakeVisibleImage

  plugins:
    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: []
      params: {}

    model_factory:
      class: hmlib.aspen.plugins.model_factory_plugin.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end_plugin.HmEndToEnd
        # Pure YAML detector definition (converted from mmengine config)
        # No detector/tracker coupling here; post_* pipelines not used for rink mask
        post_tracking_pipeline:
          - type: HmNumberClassifier
            image_label: original_images
            enabled: false

    detector_factory:
      class: hmlib.aspen.plugins.detector_factory_plugin.DetectorFactoryPlugin
      depends: []
      params:
        detector_yaml: hmlib/config/aspen/models/bytetrack_yolox_s.detector.yaml
        data_preprocessor:
          type: TrackDataPreprocessor
          pad_size_divisor: 32
          use_det_processor: true
          batch_augments:
            - type: BatchSyncRandomResize
              random_size_range: [576, 1024]
              size_divisor: 32
              interval: 10

    pose_factory:
      class: hmlib.aspen.plugins.pose_factory_plugin.PoseInferencerFactoryPlugin
      depends: []
      params:
        # HARPET
        # pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/harpet/rtmpose-l_8xb64-10e_harpe-384x288.py
        # pose_checkpoint: /mnt/data/pretrained/rtmpose_l_harpe_384x288/best_PCK_epoch_86.pth
        # pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/harpet/rtmpose-m_8xb64-crowdpose_harpe-256x192.py
        # pose_checkpoint: /mnt/data/pretrained/rtmpose-m_8xb64-crowdpose_harpe-256x192/rtmpose-m_8xb64-crowdpose_harpe-256x192_best_PCK_epoch_1178.pth
        # pose_checkpoint: https://github.com/cjolivier01/HockeyMOM/releases/download/v0.0.1/rtmpose-m_8xb64-crowdpose_harpe-256x192_best_PCK_epoch_1178.pth
        # COCO
        pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/coco/rtmpose-l_8xb256-420e_aic-coco-384x288.py
        pose_checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-aic-coco_pt-aic-coco_420e-384x288-97d6cb0f_20230228.pth
        show_progress: false
        disable_internal_detector: true

    boundaries:
      class: hmlib.aspen.plugins.boundaries_plugin.BoundariesPlugin
      depends: [model_factory]
      params: {}

    detector:
      class: hmlib.aspen.plugins.detector_plugin.DetectorInferencePlugin
      depends: [image_prep, detector_factory]
      params: {}

    save_detections:
      class: hmlib.aspen.plugins.save_plugins.SaveDetectionsPlugin
      depends: [detector]
      params: {}

    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    ice_boundaries:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmBoundariesPlugin
      depends: [detector, ice_config]
      params: {}

    tracker:
      class: hmlib.aspen.plugins.tracker_plugin.TrackerPlugin
      depends: [detector, ice_boundaries, model_factory, boundaries]
      params: {}

    save_tracking:
      class: hmlib.aspen.plugins.save_plugins.SaveTrackingPlugin
      depends: [tracker]
      params: {}


    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [tracker, pose_factory]
      params:
        plot_pose: GLOBAL.plot.plot_pose

    save_pose:
      class: hmlib.aspen.plugins.save_plugins.SavePosePlugin
      depends: [pose]
      params: {}

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [pose]
      params: {}
