aspen:
  minimal_context: true

  inference_pipeline:
    - type: LoadImageFromFile
    - type: HmCrop
      keys: [img]
    - type: HmImageToTensor
      keys: [img]
    - type: HmResize
      img_scale: [1312, 480]
      keep_ratio: true
      interpolation: area
    - type: HmPad
      pad_val: 114.0
      size_divisor: 32
    - type: mmdet.PackTrackInputs
      meta_keys: [img_metas]

  video_out_pipeline:
    - type: HmConfigureScoreboard
    - type: HmCaptureScoreboard
    - type: HmPerspectiveRotation
      pre_clip: true
    - type: HmCropToVideoFrame
    - type: HmRenderScoreboard
      image_labels: [img, end_zone_img]
    - type: HmUnsharpMask
      enabled: false
      image_label: img
    - type: HmImageOverlays
      watermark_config:
        image: images/sports_ai_watermark.png

  plugins:
    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: []
      params: {}

    model_factory:
      class: hmlib.aspen.plugins.model_factory_plugin.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end_plugin.HmEndToEnd
        # post_* pipelines not used for rink mask
        post_tracking_pipeline: []

    boundaries:
      class: hmlib.aspen.plugins.boundaries_plugin.BoundariesPlugin
      depends: [model_factory]
      params: {}

    pose_factory:
      class: hmlib.aspen.plugins.pose_factory_plugin.PoseInferencerFactoryPlugin
      depends: []
      params:
        pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/coco/rtmpose-l_8xb256-420e_aic-coco-384x288.py
        pose_checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-aic-coco_pt-aic-coco_420e-384x288-97d6cb0f_20230228.pth
        show_progress: false

    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [image_prep, pose_factory]
      params:
        plot_pose: GLOBAL.plot.plot_pose

    pose_to_det:
      class: hmlib.aspen.plugins.pose_to_det_plugin.PoseToDetPlugin
      depends: [pose]
      params: {}

    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    ice_boundaries:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmBoundariesPlugin
      depends: [pose_to_det, ice_config]
      params:
        max_detections_in_mask: 50

    tracker:
      class: hmlib.aspen.plugins.tracker_plugin.TrackerPlugin
      depends: [pose_to_det, ice_boundaries, model_factory, boundaries]
      params: {}

    # New: MMAction2 action recognition from poses per tracked player
    action_factory:
      class: hmlib.aspen.plugins.action_factory_plugin.ActionRecognizerFactoryPlugin
      depends: []
      params:
        action_config: openmm/mmaction2/configs/skeleton/posec3d/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint.py
        action_checkpoint: https://download.openmmlab.com/mmaction/v1.0/skeleton/posec3d/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint/slowonly_r50_8xb16-u48-240e_ntu60-xsub-keypoint_20220815-38db104b.pth
        # Optional: label map (defaults to NTU60 label map if omitted)
        # label_map_path: openmm/mmaction2/tools/data/skeleton/label_map_ntu60.txt

    actions:
      class: hmlib.aspen.plugins.action_pose_plugin.ActionFromPosePlugin
      depends: [tracker, action_factory]
      params:
        top_k: 3
        score_threshold: 0.0

    jersey_numbers:
      class: hmlib.aspen.plugins.jersey_pose_plugin.JerseyNumberFromPosePlugin
      depends: [tracker]
      params: {}

    # Save outputs to dataframes (order matters so actions/jerseys are included)
    save_actions:
      class: hmlib.aspen.plugins.save_plugins.SaveActionsPlugin
      depends: [actions]
      params: {}

    save_detections:
      class: hmlib.aspen.plugins.save_plugins.SaveDetectionsPlugin
      depends: [pose_to_det]
      params: {}

    save_pose:
      class: hmlib.aspen.plugins.save_plugins.SavePosePlugin
      depends: [pose]
      params: {}

    save_tracking:
      class: hmlib.aspen.plugins.save_plugins.SaveTrackingPlugin
      depends: [actions]
      params: {}

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [save_tracking, jersey_numbers]
      params: {}
