aspen:
  minimal_context: true
  inference_pipeline:
    - type: LoadImageFromFile
    - type: HmCrop
      keys: [img]
    - type: HmImageToTensor
      keys: [img]
      scale_factor: 255.0
    - type: HmResize
      img_scale: [1312, 480]
      keep_ratio: true
      interpolation: area
    - type: HmPad
      pad_val: 114.0
      size_divisor: 32
    - type: mmdet.PackTrackInputs
      meta_keys: [img_metas]
  video_out_pipeline:
    - type: HmConfigureScoreboard
    - type: HmCaptureScoreboard
      scoreboard_scale: GLOBAL.rink.scoreboard.scoreboard_scale
    - type: HmPerspectiveRotation
      pre_clip: true
    - type: HmCropToVideoFrame
    - type: HmRenderScoreboard
      image_labels: [img, end_zone_img]
    - type: HmUnsharpMask
      enabled: false
      image_label: img
    - type: HmImageOverlays
      watermark_config:
        image: images/sports_ai_watermark.png
  plugins:
    stitching:
      class: hmlib.aspen.plugins.stitching_plugin.StitchingPlugin
      depends: []
      enabled: GLOBAL.aspen.stitching.enabled
      params:
        pto_project_file: GLOBAL.aspen.stitching.pto_project_file
        dir_name: GLOBAL.aspen.stitching.dir_name
        blend_mode: GLOBAL.aspen.stitching.blend_mode
        max_blend_levels: GLOBAL.aspen.stitching.max_blend_levels
        auto_adjust_exposure: GLOBAL.aspen.stitching.auto_adjust_exposure
        python_blender: GLOBAL.aspen.stitching.python_blender
        use_cuda_pano_n: GLOBAL.aspen.stitching.use_cuda_pano_n
        minimize_blend: GLOBAL.aspen.stitching.minimize_blend
        dtype: GLOBAL.aspen.stitching.dtype
        no_cuda_streams: GLOBAL.aspen.stitching.no_cuda_streams
        post_stitch_rotate_degrees: GLOBAL.aspen.stitching.post_stitch_rotate_degrees
        left_color_pipeline: GLOBAL.aspen.left_stitch_pipeline
        right_color_pipeline: GLOBAL.aspen.right_stitch_pipeline
        capture_rgb_stats: GLOBAL.aspen.stitching.capture_rgb_stats
        max_output_width: GLOBAL.aspen.stitching.max_output_width

    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: [stitching]
      params: {}
    model_factory:
      class: hmlib.aspen.plugins.model_factory_plugin.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end_plugin.HmEndToEnd
        # post_* pipelines not used for rink mask
        post_tracking_pipeline:
          - type: HmNumberClassifier
            image_label: original_images
            enabled: false
    detector_factory:
      class: hmlib.aspen.plugins.detector_factory_plugin.DetectorFactoryPlugin
      depends: []
      params:
        detector_yaml: hmlib/config/aspen/models/bytetrack_yolox_x.detector.yaml
        data_preprocessor:
          type: TrackDataPreprocessor
          pad_size_divisor: 32
          use_det_processor: true
          batch_augments:
            - type: BatchSyncRandomResize
              random_size_range: [576, 1024]
              size_divisor: 32
              interval: 10
    boundaries:
      class: hmlib.aspen.plugins.boundaries_plugin.BoundariesPlugin
      depends: [model_factory]
      params: {}
    detector:
      class: hmlib.aspen.plugins.detector_plugin.DetectorInferencePlugin
      depends: [detector_join]
      params: {}
    detector_join:
      class: hmlib.aspen.plugins.join_plugin.JoinPlugin
      depends: [image_prep, detector_factory]
      params:
        required_plugins: [image_prep, detector_factory]
        output_key: detector_joined
    save_detections:
      class: hmlib.aspen.plugins.save_plugins.SaveDetectionsPlugin
      depends: [detector]
      params: {}
    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}
    ice_boundaries:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmBoundariesPlugin
      depends: [ice_boundaries_join]
      params:
        raise_bbox_center_by_height_ratio: GLOBAL.aspen.ice_boundaries.raise_bbox_center_by_height_ratio
        lower_bbox_bottom_by_height_ratio: GLOBAL.aspen.ice_boundaries.lower_bbox_bottom_by_height_ratio
        max_detections_in_mask: 50
    ice_boundaries_join:
      class: hmlib.aspen.plugins.join_plugin.JoinPlugin
      depends: [detector, ice_config]
      params:
        required_plugins: [detector, ice_config]
        output_key: ice_boundaries_joined
    tracker:
      class: hmlib.aspen.plugins.tracker_plugin.TrackerPlugin
      depends: [tracker_join]
      params: {}
    tracker_join:
      class: hmlib.aspen.plugins.join_plugin.JoinPlugin
      depends: [detector, ice_boundaries, model_factory, boundaries]
      params:
        required_plugins: [detector, ice_boundaries, model_factory, boundaries]
        output_key: tracker_joined
    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [tracker]
      params:
        plot_pose: GLOBAL.plot.plot_pose
    save_pose:
      class: hmlib.aspen.plugins.save_plugins.SavePosePlugin
      depends: [pose]
      params: {}
    save_tracking:
      class: hmlib.aspen.plugins.save_plugins.SaveTrackingPlugin
      depends: [pose]
      params: {}
    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [pose]
      params: {}

    overlays:
      class: hmlib.aspen.plugins.overlay_plugin.OverlayPlugin
      depends: [pose]
      enabled: true
      params:
        plot_pose: GLOBAL.plot.plot_pose
        plot_jersey_numbers: GLOBAL.plot.plot_jersey_numbers
        plot_tracking: GLOBAL.plot.plot_individual_player_tracking
        plot_all_detections: GLOBAL.plot.plot_all_detections
        plot_trajectories: GLOBAL.plot.plot_trajectories
        draw_tracking_circles: GLOBAL.plot.plot_tracking_circles
        print_available: false
