aspen:
  minimal_context: true

  # Inherit the same inference pipeline and video_out_pipeline details from
  # tracking_pose.yaml where appropriate. We omit detector and tracker plugins
  # in favor of loading tracking results from a CSV via LoadTrackingPlugin.

  inference_pipeline:
    - type: LoadImageFromFile
    - type: HmCrop
      keys: [img]
    - type: HmImageToTensor
      keys: [img]
    - type: HmResize
      img_scale: [1312, 480]
      keep_ratio: true
      interpolation: area
    - type: HmPad
      pad_val: 114.0
      size_divisor: 32
    - type: mmdet.PackTrackInputs
      meta_keys: [img_metas, hm_real_time_fps]
    - type: HmRealTime
      enabled: false
      scale: 1.0

  video_out_pipeline:
    - type: HmConfigureScoreboard
    - type: HmCaptureScoreboard
    - type: HmPerspectiveRotation
      pre_clip: true
    - type: HmCropToVideoFrame
    - type: HmRenderScoreboard
      image_labels: [img, end_zone_img]
    - type: HmUnsharpMask
      enabled: false
      image_label: img
    - type: HmImageOverlays
      watermark_config:
        image: images/sports_ai_watermark.png

  plugins:
    stitching:
      class: hmlib.aspen.plugins.stitching_plugin.StitchingPlugin
      depends: []
      enabled: GLOBAL.aspen.stitching.enabled
      params:
        pto_project_file: GLOBAL.aspen.stitching.pto_project_file
        dir_name: GLOBAL.aspen.stitching.dir_name
        blend_mode: GLOBAL.aspen.stitching.blend_mode
        max_blend_levels: GLOBAL.aspen.stitching.max_blend_levels
        auto_adjust_exposure: GLOBAL.aspen.stitching.auto_adjust_exposure
        python_blender: GLOBAL.aspen.stitching.python_blender
        minimize_blend: GLOBAL.aspen.stitching.minimize_blend
        dtype: GLOBAL.aspen.stitching.dtype
        no_cuda_streams: GLOBAL.aspen.stitching.no_cuda_streams
        post_stitch_rotate_degrees: GLOBAL.aspen.stitching.post_stitch_rotate_degrees
        left_color_pipeline: GLOBAL.aspen.left_stitch_pipeline
        right_color_pipeline: GLOBAL.aspen.right_stitch_pipeline
        capture_rgb_stats: GLOBAL.aspen.stitching.capture_rgb_stats
        max_output_width: GLOBAL.aspen.stitching.max_output_width

    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: [stitching]
      params: {}

    # Ice rink segmentation support (optional but kept for parity)
    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    # Load tracking results from CSV instead of running the tracker/detector
    load_tracking:
      class: hmlib.aspen.plugins.load_plugins.LoadTrackingPlugin
      depends: [image_prep]
      params: {}

    camera_controller:
      class: hmlib.aspen.plugins.camera_controller_plugin.CameraControllerPlugin
      depends: [load_tracking]
      params:
        controller: rule
        model_path: null
        window: 8

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [load_tracking, camera_controller]
      params: {}
