aspen:
  minimal_context: true

  # Inherit the same inference pipeline and video_out_pipeline details from
  # tracking_pose.yaml where appropriate. We omit detector and tracker plugins
  # in favor of loading tracking results from a CSV via LoadTrackingPlugin.

  inference_pipeline:
    - type: LoadImageFromFile
    - type: HmCrop
      keys: [img]
    - type: HmImageToTensor
      keys: [img]
    - type: HmResize
      img_scale: [1312, 480]
      keep_ratio: true
      interpolation: area
    - type: HmPad
      pad_val: 114.0
      size_divisor: 32
    - type: mmdet.PackTrackInputs
      meta_keys: [img_metas]

  video_out_pipeline:
    - type: HmConfigureScoreboard
    - type: HmCaptureScoreboard
    - type: HmPerspectiveRotation
      pre_clip: true
    - type: HmCropToVideoFrame
    - type: HmRenderScoreboard
      image_labels: [img, end_zone_img]
    - type: HmUnsharpMask
      enabled: false
      image_label: img
    - type: HmImageOverlays
      watermark_config:
        image: images/sports_ai_watermark.png

  plugins:
    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: []
      params: {}

    # Provide pose inferencer for downstream pose trunk
    pose_factory:
      class: hmlib.aspen.plugins.pose_factory_plugin.PoseInferencerFactoryPlugin
      depends: []
      params:
        pose_config: hmlib/config/models/body_2d_keypoint/rtmpose/coco/rtmpose-l_8xb256-420e_aic-coco-384x288.py
        pose_checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-aic-coco_pt-aic-coco_420e-384x288-97d6cb0f_20230228.pth
        show_progress: false
        disable_internal_detector: true

    # Ice rink segmentation support (optional but kept for parity)
    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    # Load tracking results from CSV instead of running the tracker/detector
    load_tracking:
      class: hmlib.aspen.plugins.load_plugins.LoadTrackingPlugin
      depends: [image_prep]
      params: {}

    ice_boundaries:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmBoundariesPlugin
      depends: [load_tracking, ice_config]
      params:
        max_detections_in_mask: 50

    # Run pose on top of loaded tracks
    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [load_tracking, pose_factory]
      params:
        plot_pose: GLOBAL.plot.plot_pose

    save_pose:
      class: hmlib.aspen.plugins.save_plugins.SavePosePlugin
      depends: [pose]
      params: {}

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [pose]
      params: {}
