
[submodule "external/pybind11"]
	path = external/pybind11
	url = ssh://git@github.com/pybind/pybind11
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "mmcv"]
	path = mmcv
	url = ssh://git@github.com/cjolivier01/mmcv
[submodule "external/fast_pytorch_kmeans"]
	path = external/fast_pytorch_kmeans
	url = ssh://git@github.com/cjolivier01/fast_pytorch_kmeans
[submodule "external/hugin"]
	path = external/hugin
	url = ssh://git@github.com/cjolivier01/hugin
[submodule "external/enblend-enfuse"]
	path = external/enblend-enfuse
	url = ssh://git@github.com/cjolivier01/enblend-enfuse
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = ssh://git@github.com/cjolivier01/concurrentqueue
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "models/SVHNClassifier"]
	path = xmodels/SVHNClassifier
	url = ssh://git@github.com/cjolivier01/SVHNClassifier-PyTorch
[submodule "external/MOTChallengeEvalKit"]
	path = external/MOTChallengeEvalKit
	url = ssh://git@github.com/cjolivier01/MOTChallengeEvalKit
[submodule "external/pt_autograph"]
	path = external/pt_autograph
	url = ssh://git@github.com/cjolivier01/pt_autograph
[submodule "models/centerpoint"]
	path = models/centerpoint
	url = ssh://git@github.com/cjolivier01/CenterPoint
[submodule "openmm"]
	path = openmm
	url = ssh://git@github.com/cjolivier01/openmm
[submodule "xmodels/LightGlue"]
	path = xmodels/LightGlue
	url = ssh://git@github.com/cjolivier01/LightGlue
[submodule "external/hm-cupano"]
	path = external/hm-cupano
	url = ssh://git@github.com/cjolivier01/hm-cupano
[submodule "external/jetson-utils"]
	path = external/jetson-utils
	url = ssh://git@github.com/cjolivier01/jetson-utils
