.idea
/dist
bazel-bin
bazel-out
bazel-test
bazel-testlogs
bazel-hm
*.whl
*.pyc
/dist
/*.log
/my_env
/*.tif
/*.avi
/*.mp4
/h-demo*
/.clangd
/exp
__pycache__
/.cache
/build
/*.mov
/*.aac
/*.mkv
/my_venv
pybind11_project_example.egg-info
compile_commands.json
/output_image.png
hockeymom.egg-info
stitched_output.avi
YOLOX_outputs
debug_tensorboard
/*.pth.tar
output_workdirs
/keypoints.png
/matches.png
hockey_league.db
/blended.txt
/player_shifts
/player_shifts
