[tool.isort]


[tool.black]
line-length=100


[tool.pylint.messages_control]
disable = [
    "C0116",  # missing-function-docstring
    "W0621",  # redefined-outer-name
]

[tool.flake8]
max-line-length = 88
