[tool.black]
line-length=100


[tool.pylint.messages_control]
disable = [
    "C0115",  # missing-class-docstring
    "C0116",  # missing-function-docstring
    "W0621",  # redefined-outer-name
    "R1735",  # 
]

[tool.flake8]
max-line-length = 100

[tool.isort]
