numpy==1.23.5
yacs
moviepy
opencv-python
PyYAML
cython-bbox
scipy
progress
motmetrics
matplotlib
lap
openpyxl
Pillow-simd
psutil
tensorboardX
fvcore
opencv-python
opencv-contrib-python
cameratransform
tifffile
scikit-build
scikit-learn
tensorrt
lmdb
#./DCNv2
./external/fast_pytorch_kmeans
./external/pt_autograph
