cython
numpy==1.23.5
terminaltables
seaborn
xtcocotools
screeninfo
yacs
moviepy
opencv-python
PyYAML
cython-bbox
scipy
progress
motmetrics
matplotlib
#lap
openpyxl
Pillow-simd
psutil
#tensorboard
filterpy
screeninfo
gast
astunparse
fvcore
opencv-python
opencv-contrib-python
cameratransform
tifffile
scikit-build
scikit-learn
lmdb
loguru
thop
pycocotools
sympy
python-ipmi
numba
pyquaternion
./external/fast_pytorch_kmeans
./external/pt_autograph
