model:
  backbone:
    type: dla34
    pretrained: True
    # pretrained_path: 'pretrained/dla34/crowdhuman_dla34.pth'
    pretrained_path: 'pretrained/dla34/my_coco_ch_e60.pth'
    det_thres: 0.3

    train:

    test:

  tracker:
    type: fair
    conf_thres: 0.4

