# moved from hmlib/configs/aspen/models
type: YOLOX
data_preprocessor:
  type: DetDataPreprocessor
  pad_size_divisor: 32
  batch_augments:
  - type: BatchSyncRandomResize
    random_size_range:
    - 480
    - 800
    size_divisor: 32
    interval: 10
backbone:
  type: CSPDarknet
  deepen_factor: 1.33
  widen_factor: 1.25
  out_indices:
  - 2
  - 3
  - 4
  use_depthwise: false
  spp_kernal_sizes:
  - 5
  - 9
  - 13
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
neck:
  type: YOLOXPAFPN
  in_channels:
  - 320
  - 640
  - 1280
  out_channels: 320
  num_csp_blocks: 4
  use_depthwise: false
  upsample_cfg:
    scale_factor: 2
    mode: nearest
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
bbox_head:
  type: YOLOXHead
  num_classes: 80
  in_channels: 320
  feat_channels: 320
  stacked_convs: 2
  strides:
  - 8
  - 16
  - 32
  use_depthwise: false
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
init_cfg:
  type: Pretrained
  prefix: detector.
  checkpoint: https://download.openmmlab.com/mmdetection/v2.0/yolox/yolox_x_8x8_300e_coco/yolox_x_8x8_300e_coco_20211126_140254-1ef88d67.pth
  loss_cls:
    type: CrossEntropyLoss
    use_sigmoid: true
    reduction: sum
    loss_weight: 1.0
  loss_bbox:
    type: IoULoss
    mode: square
    eps: 1.0e-16
    reduction: sum
    loss_weight: 5.0
  loss_obj:
    type: CrossEntropyLoss
    use_sigmoid: true
    reduction: sum
    loss_weight: 1.0
  loss_l1:
    type: L1Loss
    reduction: sum
    loss_weight: 1.0
train_cfg:
  assigner:
    type: SimOTAAssigner
    center_radius: 2.5
test_cfg:
  score_thr: 0.01
  nms:
    type: nms
    iou_threshold: 0.65
