# moved from hmlib/configs/aspen/models
type: YOLOX
data_preprocessor:
  type: DetDataPreprocessor
  pad_size_divisor: 32
  batch_augments:
  - type: BatchSyncRandomResize
    random_size_range:
    - 320
    - 640
    size_divisor: 32
    interval: 10
backbone:
  type: CSPDarknet
  deepen_factor: 0.33
  widen_factor: 0.25
  out_indices:
  - 2
  - 3
  - 4
  use_depthwise: true
  spp_kernal_sizes:
  - 5
  - 9
  - 13
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
neck:
  type: YOLOXPAFPN
  in_channels:
  - 64
  - 128
  - 256
  out_channels: 64
  num_csp_blocks: 1
  use_depthwise: true
  upsample_cfg:
    scale_factor: 2
    mode: nearest
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
bbox_head:
  type: YOLOXHead
  num_classes: 80
  in_channels: 64
  feat_channels: 64
  stacked_convs: 2
  strides:
  - 8
  - 16
  - 32
  use_depthwise: true
  norm_cfg:
    type: BN
    momentum: 0.03
    eps: 0.001
  act_cfg:
    type: Swish
  loss_cls:
    type: CrossEntropyLoss
    use_sigmoid: true
    reduction: sum
    loss_weight: 1.0
  loss_bbox:
    type: IoULoss
    mode: square
    eps: 1.0e-16
    reduction: sum
    loss_weight: 5.0
  loss_obj:
    type: CrossEntropyLoss
    use_sigmoid: true
    reduction: sum
    loss_weight: 1.0
  loss_l1:
    type: L1Loss
    reduction: sum
    loss_weight: 1.0
train_cfg:
  assigner:
    type: SimOTAAssigner
    center_radius: 2.5
test_cfg:
  score_thr: 0.01
  nms:
    type: nms
    iou_threshold: 0.65
