MixFormerOnlineScore.pth.tar filter=lfs diff=lfs merge=lfs
MixFormer_soccernet_train.pth.tar filter=lfs diff=lfs merge=lfs
MixFormer_sports_train.pth.tar filter=lfs diff=lfs merge=lfs
MixViT_ch_ht_ep0115.pth.tar filter=lfs diff=lfs merge=lfs
