/MixViT-ConvMAE/mixformer_convmae_base_online.pth.tar
/MixViT-ConvMAE/mixformer_convmae_large_online.pth.tar
/mixformer_online_22k_got.pth.tar
/mixformer_online_got_1k.pth.tar
/mixformer_online_1k.pth.tar
/mixformerL_online_22k.pth.tar
/mixformer_online_22k.pth.tar
/MixViT/mixformer_vit_large_online.pth.tar
/MixViT/mixformer_vit_base_online.pth.tar
