#
# Camera type
#
camera:
  name: "GoPro"
  make: null
  model: null
  output-fps: null
  color:
    white_balance:
      - 1.0
      - 1.0
      - 1.0
    brightness: 1.0
    exposure_ev: 0.0
    contrast: 1.0
    gamma: 1.0
  mount:
    - offset_80:
        resolution: null
    - offset_90:
        resolution: null

#
# Plotting / visualization defaults
#
plot:
  debug_play_tracker: false
  plot_moving_boxes: false
  plot_individual_player_tracking: false
  plot_tracking_circles: true
  plot_boundaries: false
  plot_all_detections: null
  plot_trajectories: false
  plot_speed: false
  plot_jersey_numbers: false
  plot_actions: false
  plot_pose: false
  plot_ice_mask: false

#
# Aspen / video output defaults
#
aspen:
  # AspenNet execution settings (serial vs threaded).
  # Modes:
  #   - serial: threaded=false
  #   - threaded: threaded=true, graph=false
  #   - thread-graph: threaded=true, graph=true
  pipeline:
    threaded: true
    graph: true
    queue_size: 2
    cuda_streams: true
  apply_camera:
    crop_play_box: false
    crop_output_image: true
    end_zones: false
  video_out:
    # Whether to skip final container flush/save in VideoOutput.
    # CLI flag --skip-final-video-save overrides this when provided.
    skip_final_save: false
    # Default NVENC video encoder backend used by VideoOutput / PyNvVideoEncoder.
    # Valid values:
    #   - auto   : let the runtime decide / use library defaults
    #   - pyav   : use the PyAV container muxer
    #   - ffmpeg : use the streaming ffmpeg CLI muxer
    #   - raw    : write a raw elementary bitstream sidecar (.h264/.h265/.ivf)
    #              and invoke ffmpeg once at close() to mux into the container
    # The CLI flag --video-encoder-backend overrides this when provided.
    encoder_backend: "auto"
    output_width: "auto"
    output_height: null
    bit_rate: 55000000
    show_image: false
    show_scaled: null
    output_video_path: null
  stitching:
    # Controlled by --aspen-stitching / --no-aspen-stitching.
    enabled: true
    pto_project_file: null
    stitch_frame_time: 00:00:00
    dir_name: null
    blend_mode: "laplacian"
    max_blend_levels: 11
    auto_adjust_exposure: true
    python_blender: false
    # Force using the arbitrary-N CUDA stitcher even when there are only 2 input views.
    use_cuda_pano_n: false
    minimize_blend: true
    dtype: "float32"
    no_cuda_streams: false
    post_stitch_rotate_degrees: null
    capture_rgb_stats: false
    max_output_width: null
  left_stitch_pipeline:
    - type: HmImageColorAdjust
      keys: [img]
      config_paths:
        - [game, stitching, left, color]
        - [game, stitching, left]
      refresh_from_config: true
  right_stitch_pipeline:
    - type: HmImageColorAdjust
      keys: [img]
      config_paths:
        - [game, stitching, right, color]
        - [game, stitching, right]
      refresh_from_config: true
  play_tracker:
    no_wide_start: true
  ice_boundaries:
    raise_bbox_center_by_height_ratio: -0.1
    lower_bbox_bottom_by_height_ratio: 0.1

#
# Rink config
#
rink:
  name: null
  location:
    city: null
    state: null
    country: null
  dimensions:
    length: null
    width: null
    corner_radius: null
  surface_type: "Ice"
  seating_capacity: null
  teams:
    home_team:
      name: null
      colors: null
  facilities:
    locker_rooms: null
    concession_stands: null
    restrooms: null
  parking:
    capacity: null
    price: null
  scoreboard:
    # 4-sided polygon that maps out the scoreboard in the perspective view
    # Should be tlbr form, with values: [x, y]
    perspective_polygon: null
    projected_height: "%20"
    projected_width: "%10"
    scoreboard_scale: 1.0
  end_zones:
    #
    # End zone start/stop thresholds (lines of the form (x1, y1), (x2, y2))
    #
    # Where we switch to end-zone view on the ldft
    left_start: null
    # Were we switch back to pan view on the lft
    left_stop: null
    # Where we switch to end-zone view on the ldft
    right_start: null
    # Were we switch back to pan view on the lft
    right_stop: null


  tracking:
    #
    # Some tracking config
    #
    cam_ignore_largest: true
  camera:
    #
    # Rink-related tracking config
    #
    fixed_edge_rotation_angle: 10
    # Ratio of height and width for the "destination" box based upon what the "fast box" size is.
    # Making this ratio larger makes the destination box larger, which makes the camera less zoomed in
    follower_box_scale_width: 1.45
    follower_box_scale_height: 1.45
    # Minimum height for the aspect-ratio follower box, as a fraction of play height.
    # Smaller values allow more zoom-in.
    follower_box_min_height_ratio: 0.2
    crop_image: true
    pre_clip: true
    max_speed_ratio_x: 1.0
    max_speed_ratio_y: 1.0
    max_accel_ratio_x: 1.0
    max_accel_ratio_y: 1.0
    color:
      white_balance:
        - 1.0
        - 1.0
        - 1.0
      brightness: 1.0
      exposure_ev: 0.0
      contrast: 1.0
      gamma: 1.0

    # Direction-change braking (stop dampening)
    # Frames to brake to a stop on direction change
    stop_on_dir_change_delay: 10
    # Cancel braking when inputs flip opposite (true/false)
    cancel_stop_on_opposite_dir: true
    # Consecutive opposite-direction frames required to cancel braking
    stop_cancel_hysteresis_frames: 2
    # Cooldown frames after a stop-delay finishes/cancels before another can start
    stop_delay_cooldown_frames: 2
    # When increasing speed toward destination, enforce a minimum number of frames
    # to reach the target along that axis (0 disables)
    time_to_dest_speed_limit_frames: 20
    # When time-to-dest limiting is active, snap to zero below this speed (px/frame)
    time_to_dest_stop_speed_threshold: 0.25

    # Resizing direction-change braking (size dampening)
    # Frames to brake to a stop on resize direction change
    resizing_stop_on_dir_change_delay: 4
    # Cancel resizing brake when inputs flip opposite (true/false)
    resizing_cancel_stop_on_opposite_dir: true
    # Consecutive opposite-direction frames required to cancel resize braking
    resizing_stop_cancel_hysteresis_frames: 10
    # Cooldown frames after a resize stop-delay finishes/cancels before another can start
    resizing_stop_delay_cooldown_frames: 2
    # When increasing size toward destination, enforce a minimum number of frames
    # to reach the target along that axis (0 disables)
    resizing_time_to_dest_speed_limit_frames: 10
    # When resize time-to-dest limiting is active, snap to zero below this speed (px/frame)
    resizing_time_to_dest_stop_speed_threshold: 0.25


    # Sticky translation
    sticky_size_ratio_to_frame_width: 10.0
    sticky_translation_gaussian_mult: 5.0
    unsticky_translation_size_ratio: 0.75

    # Camera controller (trunk) defaults
    controller: rule         # or 'transformer' / 'gpt'
    camera_model: null       # path to camera checkpoint (.pt)
    camera_window: 8

    #
    # Configuration for breakaways
    #
    breakaway_detection:
      # Group velocities less than this are ignored
      min_considered_group_velocity: 3.0
      # What ratio of tracked players must be all reacting
      # to a breakaway?
      group_ratio_threshold: 0.5
      # What ratio of the group speed should we try to
      # apply within a single frame's speed adjustment?
      group_velocity_speed_ratio: 0.3
      # During a breakaway, what scale do we adjust the
      # maximum camera speed to allow for faster-than-normal tracking?
      scale_speed_constraints: 3.0
      # The number of frame steps to not allow any camera-stop conditions to
      # trigger such as cluster(s) direction change or "sticky translation" rules.
      # This is because the clusters may not have changed enough at the
      # beginning of a breakaway and may simply stop the camera movement
      # due to the cluster tracking rules.
      nonstop_delay_count: 2
      # When over-shooting the breakaway players, what scale do we apply
      # to the current speed each frame in order to slow it down?
      overshoot_scale_speed_ratio: 0.7
      # Alternatively, brake to a stop over N frames when overshooting
      overshoot_stop_delay_count: 6
      # After nonstop (breakaway catch-up) ends, optionally brake to stop over N frames
      post_nonstop_stop_delay_count: 6

debug:
  rgb_stats_check:
    enable: false

#
# Game config
#
game:
  name: null
  rink: null
  home: null
  away: null

  videos:
    left: null
    right: null

  stitching:
    stitch-rotate-degrees: 0
    frame_offsets:
      left: null
      right: null
    control_points:
      m_kpts0: null
      m_kpts1: null

    offsets: null

  clip_box: null
  boundaries:
    upper:
    upper_tune_position: null
    lower:
    lower_tune_position: null
    # For scaling to a new stitched size
    scale_width: null
    scale_height: null


#
# Model config
#
model:
  # end_to_end:
    # config: config/models/hm2/hm_end_to_end.py
    # config: config/models/hm2/hm2_composited.py
    # checkpoint: pretrained/mmdetection/yolox_s_8x8_300e_coco_80e_ch_with_detector_prefix.pth
    # checkpoint_local: pretrained/mmdetection/yolox_s_8x8_300e_coco_80e_ch_with_detector_prefix.pth
    # ^ the above checkpoint, but on Google drive (pretrained/mmdetection/yolox_s_8x8_300e_coco_80e_ch_with_detector_prefix.pth)
    # checkpoint_remote: https://drive.google.com/file/d/1WgJ-u2aL1Yv6VNXF5w-0DtsxCCDXAEe7/view?usp=drive_link
  
#  detection:
    # config: config/models/hm2/hm_crowdhuman_yolox_s_2240x800.py
    # checkpoint: /mnt/data/pretrained/mmdetection/yolox_s_8x8_300e_coco_1312x480_80e_ch_2240x800_1e_with_detector_prefix.pth
    # checkpoint: https://github.com/cjolivier01/HockeyMOM/releases/download/v0.0.1/yolox_s_8x8_300e_coco_1312x480_80e_ch_2240x800_1e_with_detector_prefix.pth
    
    # config: /mnt/monster-data/colivier/src/hm/openmm/rundir/work_dirs/yolov8_m_syncbn_fast_8xb16-500e_coco/hm_crowdhuman_yolov8_m_1984_736.py
    # checkpoint: https://download.openmmlab.com/mmyolo/v0/yolov8/yolov8_m_syncbn_fast_8xb16-500e_coco/yolov8_m_syncbn_fast_8xb16-500e_coco_20230115_192200-c22e560a.pth
  # pose:
  #   config: config/models/body_2d_keypoint/rtmpose/coco/rtmpose-l_8xb256-420e_aic-coco-384x288.py
  #   # checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-aic-coco_pt-aic-coco_420e-384x288-97d6cb0f_20230228.pth
  #   checkpoint: https://github.com/cjolivier01/HockeyMOM/releases/download/v0.0.1/rtmpose-m_8xb64-crowdpose_harpe-256x192_best_PCK_epoch_1178.pth
    

    # RTMPOSE
    # config: config/models/wholebody_2d_keypoint/rtmpose/rtmpose-l_8xb32-270e_coco-wholebody-384x288.py
    # checkpoint: https://download.openmmlab.com/mmpose/v1/projects/rtmposev1/rtmpose-l_simcc-coco-wholebody_pt-aic-coco_270e-384x288-eaeb96c8_20230125.pth

    # Previous
    # config: ./openmm/mmhuman3d/demo/mmpose_cfg/hrnet_w48_coco_wholebody_384x288_dark_plus.py
    # checkpoint: https://download.openmmlab.com/mmpose/top_down/hrnet/hrnet_w48_coco_wholebody_384x288_dark-f5726563_20200918.pth
    # checkpoint_remote: https://download.openmmlab.com/mmpose/top_down/hrnet/hrnet_w48_coco_wholebody_384x288_dark-f5726563_20200918.pth
    # checkpoint_local: pretrained/mmpose/wholebody/2d_kpt_sview_rgb_img/topdown_heatmap/coco-wholebody/hrnet_w48_coco_wholebody_384x288_dark_plus/hrnet_w48_coco_wholebody_384x288_dark-f5726563_20200918.pth

  ice_rink_segm:
    config: config/models/ice_rink/mask2former_swin-s-p4-w7-224_8xb2-lsj-50e_coco.py
    # checkpoint: pretrained/mask2former_swin-s-p4-w7-224_8xb2-lsj-50e_coco/ice_rink_iter_30000.pth
    checkpoint: https://github.com/cjolivier01/HockeyMOM/releases/download/v0.0.1/ice_rink_iter_30000.pth

  svnh_classifier:
    config: null
    checkpoint: pretrained/svhnc/model-65000.pth
