aspen:
  minimal_context: true

  plugins:
    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: []
      params: {}

    model_factory:
      class: hmlib.aspen.plugins.model_factory_plugin.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end_plugin.HmEndToEnd
        # post_* pipelines not used for rink mask

    boundaries:
      class: hmlib.aspen.plugins.boundaries_plugin.BoundariesPlugin
      depends: [model_factory]
      params: {}

    load_detections:
      class: hmlib.aspen.plugins.load_plugins.LoadDetectionsPlugin
      depends: [image_prep]
      params: {}

    ice_config:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    # Optional: save detections to disk when running with inferred detections
    save_detections:
      class: hmlib.aspen.plugins.save_plugins.SaveDetectionsPlugin
      depends: [load_detections]
      params: {}

    ice_boundaries:
      class: hmlib.aspen.plugins.ice_rink_boundaries_plugins.IceRinkSegmBoundariesPlugin
      depends: [load_detections, ice_config]
      params:
        max_detections_in_mask: 50

    tracker:
      class: hmlib.aspen.plugins.tracker_plugin.TrackerPlugin
      depends: [load_detections, ice_boundaries, model_factory, boundaries]
      params: {}

    # Optional: split-out saver for tracking
    save_tracking:
      class: hmlib.aspen.plugins.save_plugins.SaveTrackingPlugin
      depends: [tracker]
      params: {}

    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [tracker]
       params:
        plot_pose: GLOBAL.plot.plot_pose

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [pose]
      params: {}
