aspen:
  minimal_context: true

  plugins:
    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: []
      params: {}

    detector_factory:
      class: hmlib.aspen.plugins.detector_factory_plugin.DetectorFactoryPlugin
      depends: []
      params:
      detector_yaml: hmlib/config/aspen/models/bytetrack_yolox_s.detector.yaml
        data_preprocessor:
          type: TrackDataPreprocessor
          pad_size_divisor: 32
          use_det_processor: true

    detector:
      class: hmlib.aspen.plugins.detector_plugin.DetectorInferencePlugin
      depends: [image_prep, detector_factory]
      params: {}

    tracker:
      class: hmlib.aspen.plugins.tracker_plugin.TrackerPlugin
      depends: [detector]
      params: {}

    # Replace pose inferencer with a dataframe-backed loader
    load_pose:
      class: hmlib.aspen.plugins.load_plugins.LoadPosePlugin
      depends: [tracker]
      params: {}

    # Optional saver for pose results
    save_pose:
      class: hmlib.aspen.plugins.save_plugins.SavePosePlugin
      depends: [load_pose]
      params: {}

    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [load_pose]
      params: {}
