aspen:
  minimal_context: true

  trunks:
    image_prep:
      class: hmlib.aspen.trunks.image_prep.ImagePrepPlugin
      depends: []
      params: {}

    model_factory:
      class: hmlib.aspen.trunks.model_factory.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end.HmEndToEnd
        # post_* pipelines not used for rink mask

    boundaries:
      class: hmlib.aspen.trunks.boundaries.BoundariesPlugin
      depends: [model_factory]
      params: {}

    load_detections:
      class: hmlib.aspen.trunks.load.LoadDetectionsPlugin
      depends: [image_prep]
      params: {}

    ice_config:
      class: hmlib.aspen.trunks.ice_rink_boundaries.IceRinkSegmConfigPlugin
      depends: [image_prep]
      params: {}

    # Optional: save detections to disk when running with inferred detections
    save_detections:
      class: hmlib.aspen.trunks.save.SaveDetectionsPlugin
      depends: [load_detections]
      params: {}

    ice_boundaries:
      class: hmlib.aspen.trunks.ice_rink_boundaries.IceRinkSegmBoundariesPlugin
      depends: [load_detections, ice_config]
      params: {}

    tracker:
      class: hmlib.aspen.trunks.tracker.TrackerPlugin
      depends: [load_detections, ice_boundaries, model_factory, boundaries]
      params: {}

    # Optional: split-out saver for tracking
    save_tracking:
      class: hmlib.aspen.trunks.save.SaveTrackingPlugin
      depends: [tracker]
      params: {}

    pose:
      class: hmlib.aspen.trunks.pose.PosePlugin
      depends: [tracker]
       params:
        plot_pose: GLOBAL.plot.plot_pose

    postprocess:
      class: hmlib.aspen.trunks.postprocess.CamPostProcessPlugin
      depends: [pose]
      params: {}
