aspen:
  minimal_context: true
  plugins:
    stitching:
      class: hmlib.aspen.plugins.stitching_plugin.StitchingPlugin
      depends: []
      enabled: GLOBAL.aspen.stitching.enabled
      params:
        pto_project_file: GLOBAL.aspen.stitching.pto_project_file
        dir_name: GLOBAL.aspen.stitching.dir_name
        blend_mode: GLOBAL.aspen.stitching.blend_mode
        max_blend_levels: GLOBAL.aspen.stitching.max_blend_levels
        auto_adjust_exposure: GLOBAL.aspen.stitching.auto_adjust_exposure
        python_blender: GLOBAL.aspen.stitching.python_blender
        minimize_blend: GLOBAL.aspen.stitching.minimize_blend
        dtype: GLOBAL.aspen.stitching.dtype
        no_cuda_streams: GLOBAL.aspen.stitching.no_cuda_streams
        post_stitch_rotate_degrees: GLOBAL.aspen.stitching.post_stitch_rotate_degrees
        left_color_pipeline: GLOBAL.aspen.left_stitch_pipeline
        right_color_pipeline: GLOBAL.aspen.right_stitch_pipeline
        capture_rgb_stats: GLOBAL.aspen.stitching.capture_rgb_stats
        max_output_width: GLOBAL.aspen.stitching.max_output_width

    image_prep:
      class: hmlib.aspen.plugins.image_prep_plugin.ImagePrepPlugin
      depends: [stitching]
      params: {}
    model_factory:
      class: hmlib.aspen.plugins.model_factory_plugin.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end_plugin.HmEndToEnd
        detector_yaml: hmlib/config/aspen/models/bytetrack_yolox_s.detector.yaml
        data_preprocessor:
          type: TrackDataPreprocessor
          pad_size_divisor: 32
          use_det_processor: true
        tracker:
          type: ByteTracker
          motion: {type: KalmanFilter}
          obj_score_thrs: {high: 0.6, low: 0.1}
          init_track_thr: 0.7
          weight_iou_with_det_scores: true
          match_iou_thrs: {high: 0.1, low: 0.5, tentative: 0.3}
          num_frames_retain: 30
    mmtracking:
      class: hmlib.aspen.plugins.mmtracking_plugin.MMTrackingPlugin
      depends: [image_prep, model_factory]
      params: {}
    prune:
      class: hmlib.aspen.plugins.prune_plugin.PruneKeysPlugin
      depends: [mmtracking]
      params:
        remove_keys: [detection_image]
    pose:
      class: hmlib.aspen.plugins.pose_plugin.PosePlugin
      depends: [prune]
      params:
        plot_pose: GLOBAL.plot.plot_pose
    postprocess:
      class: hmlib.aspen.plugins.postprocess_plugin.CamPostProcessPlugin
      depends: [pose]
      params: {}
