aspen:
  minimal_context: true
  trunks:
    image_prep:
      class: hmlib.aspen.trunks.image_prep.ImagePrepPlugin
      depends: []
      params: {}
    model_factory:
      class: hmlib.aspen.trunks.model_factory.ModelFactoryPlugin
      depends: []
      params:
        model_class: hmlib.models.end_to_end.HmEndToEnd
        detector_yaml: hmlib/config/aspen/models/bytetrack_yolox_s.detector.yaml
        data_preprocessor:
          type: TrackDataPreprocessor
          pad_size_divisor: 32
          use_det_processor: true
        tracker:
          type: ByteTracker
          motion: {type: KalmanFilter}
          obj_score_thrs: {high: 0.6, low: 0.1}
          init_track_thr: 0.7
          weight_iou_with_det_scores: true
          match_iou_thrs: {high: 0.1, low: 0.5, tentative: 0.3}
          num_frames_retain: 30
    mmtracking:
      class: hmlib.aspen.trunks.mmtracking.MMTrackingPlugin
      depends: [image_prep, model_factory]
      params: {}
    prune:
      class: hmlib.aspen.trunks.prune.PruneKeysPlugin
      depends: [mmtracking]
      params:
        remove_keys: [detection_image]
    pose:
      class: hmlib.aspen.trunks.pose.PosePlugin
      depends: [prune]
      params:
        plot_pose: GLOBAL.plot.plot_pose
    postprocess:
      class: hmlib.aspen.trunks.postprocess.CamPostProcessPlugin
      depends: [pose]
      params: {}
